.general {
    padding-top: 115px;
    /* espacio por header */
    background: -webkit-linear-gradient(121deg, #efb3ff 0%, #f2d6f8 16%, #efb3ff 33%, #f2d6f8 50%, #efb3ff 67%, #f2d6f8 84%, #efb3ff 100%);
}

.contenedor {
    display: flex;
}

.contenido1 {
    flex: 3;
    margin: 0px;
}

.contenido2 {
    flex: 1;
}

h1,h2,.h1Variante {
    text-align: center;
    font-family: "Playwrite AR", serif;
    font-weight: 600;
}

.h1Variante {
    font-size: 1.9rem;
    font-weight: 800;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
}