.estContenedor {


    padding: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
    box-sizing: border-box;
}

.estContenedorHijo {
    background-color: rgb(212, 185, 255);
    box-shadow: 0px 1px 4px rgb(36, 36, 36, .8);
    padding-bottom: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(100, 42, 194);
    border-radius: 18px;
    display: flex;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 5px;
    align-items: center;
    transition: box-shadow 0.3s ease;



    /*    justify-content: center;*/
}

.estContImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estImagen {
    /*  width: 100%;*/
    height: 150px;
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    /*height: 300px;*/
    border: 3px solid rgb(100, 42, 194);
    object-fit: contain;
    /* cover*/
    border-radius: 10px;


}

.estNombre {
    font-size: 1.3rem;
    font-weight: 600;
    color: #69177e;
    margin-bottom: 7px;
    text-align: center;
    flex-grow: 1;
}

.estParrafo {
    font-size: 1rem;
    margin-bottom: 2px;
    text-align: center;
    flex-grow: 1;
}

.estTexto {
    font-size: 1rem;
    margin-bottom: 2px;
    text-align: center;
}

.estPrecio {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(126, 52, 245);
    margin-bottom: 2px;
    text-align: center;
}

.estStock {
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
}

.estContainerCant {
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    align-items: center;
}

.estCantBoton {

    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.envio {
    padding: 20px;
    margin-bottom: 20px;
}